<!DOCTYPE html>
<html>
<head>
<title>LOGIN</title>
<link rel="stylesheet" type="text/css" th:href="@{/login.css}">
</head>
<body>
 <div class="container">
<div class="image-container">
            <img src="https://media.istockphoto.com/id/1987624427/photo/woman-headphones-and-dancing-to-music-in-city-streaming-radio-and-hip-hop-playlist-on-commute.jpg?s=612x612&w=0&k=20&c=3LAFu9nSR9bKz4aDJWTG6pfG6vhU4pUDkem1nwufw0s=" alt="Image">
        </div>
<form action="validate" method="post">
<h2> USER LOGIN </h2>
<label>Email:</label><br>
<input type="email" name="email" placeholder="Enter Email">
<br><br>
<label>Password:</label><br>
<input type="password" name="password" placeholder="Enter password">
<input type="submit" value="LOGIN">
</form>
</div>



</body>
</html>