body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.8) 100%);
    overflow: hidden; /* Prevent horizontal scrollbars */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #222; /* Updated to black */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Shadow effect */
    max-width: 400px;
    margin-right: 20px;
    animation: fadeIn 0.5s ease-out;
}

.image-container {
    max-width: 50%; /* Adjust image width as needed */
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #eee; /* Updated text color */
}

label {
    color: #ccc; /* Updated label color */
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #444; /* Updated border color */
    border-radius: 5px;
    background-color: #333; /* Updated background color */
    color: #eee; /* Updated text color */
    outline: none;
    transition: all 0.3s ease;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="submit"]:hover {
    border-color: #999;
}

input[type="submit"] {
    background-color: #d3d3d3; /* Updated button color to silver-white */
    color: #000; /* Updated text color to black */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Make button full width */
}

input[type="submit"]:hover {
    background-color: #bdbdbd; /* Darken button color on hover */
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        max-width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    form {
        margin: 0;
        margin-bottom: 20px;
    }
}
